<h1>Resultados de la búsqueda</h1>
<table>
<% for resource in @resources do%>
	<tr>
		<th>TITULO</th><th>AUTOR</th><th>TAGS</th><th>DESCARGAR</th>
	</tr>
	
	<tr>
		<td><%= resource.title%></td>
		<td><%= resource.author%></td>
		<td><%= resource.tag_ids%></td>
		<% for document in resource.documents%>
		<td><%= link_to "Descargar", document.file.url(:original, false)%></td>
		<%end%>
	</tr>
<%end%>
</table>