<h1>Sugerencias de LibrIN</h1>

<p>
	Hola <%= @user.userName%>,<br>
	
	<%= @sender%> te recomienda que veas el siguiente recurso<br>
	
	<a href="/resource/file?id=<%= @resource.id%>"><%= @resource.title%></a><br>
	
	Qué tengas buen día!<br>
	
	LibrIN Team.<br>
	
</p>
