<h1>Librinmail#suggestion</h1>

<p>
	Hola <%= @user.userName%>,
	
	<%= @sender%> te recomienda que veas el siguiente recurso
	
	<a href="/resource/file?id=<%= @resource.id%>"><%= @resource.title%></a>
	
	Qué tengas buen día!
	
	LibIN Team.
	
</p>
